body{
    margin:0;
    display:flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color:rgb(224, 100, 86);
}

.form{
    background-color: azure;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    border-radius: 10px;

   
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: solid 3px;
}
.btn{
    background-color: rgb(216, 47, 39);
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9);

}

.score{
    text-align: right;
}